<p>
  We received a request to reset your Compilation
  password. To do so, please follow the link below.
  If you received this message in errro, do nothing.
  The link will expire in four hours.
</p>

<p>
  <a href="http://localhost:3000/reset/<%= @user.code %>">http://localhost:3000/reset/<%= @user.code %></a>
</p>

<p>
  The Compilation Team
</p>